<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- session-factory element contains all the properties and mappings for a Hibernate session. -->
    <session-factory>
        <!-- Define database connection settings. -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/parabank_database</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Mobist@r123-</property>

        <!-- Define connection pool settings. -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Define the dialect of the database (MySQL in this case). -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Define Hibernate's automatic session context management. -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Define whether to display the executed SQL statements. -->
        <property name="hibernate.show_sql">true</property>

        <!-- Define the annotated class for mapping. -->
        <mapping class="model.User"/>
    </session-factory>

</hibernate-configuration>
