<configuration>
    <!-- Appender named "STDOUT", using ConsoleAppender to log messages to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern to format the log messages: time, thread name, log level, logger name, message, and newline -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender named "ROLLING", using RollingFileAppender to log messages to a file with rolling policy -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/myApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/logs/myApp.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Maximum history of log files to keep: 2 days -->
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>
